extends ../dashboard 

block content 
    #content
        .content-wrapper.all-jobs-container
            .search-and-filter 
                label(for="search") 
                    span search 
                    input(type="text" name="search" id="search" placeholder="Search for jobs...")
                .filters 
                    label(for="section") 
                        span Type 
                        select.type
                            option(disabled selected) Type 
                            option(value="Full time") Full time
                            option(value="Part time") Part-time
                            option(value="Remote") Remote
                            option(value="Internship") Internship
                    label(for="section") 
                        span Sort 
                        select.sort
                            option(disabled selected) Sort By
                            option(value="Full time") latest Jobs 
                            option(value="Part time") oldest 
            p.num-of-jobs
                span#numJobs= result 
                |  jobs found 
            .loading 
            .jobs#jobs-container 
                each job in jobs 
                    div.job-wrapper( data-jobid=`${job.id}`)
                        .company 
                            span A 
                            label
                                p.job-post= job.post  
                                p.company-name= job.companyName  
                        .job-info 
                            label(for="city") 
                                span.job-icon 
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z"></path></svg>
                                span#job-des.location= job.city  
                            label(for="date") 
                                span.job-icon 
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path></svg>
                                span#job-des.date jun 8th, 2023
                            label(for="job-type") 
                                span.job-icon 
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M320 336c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h416c25.6 0 48-22.4 48-48V288H320v48zm144-208h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128v32z"></path></svg>
                                span#job-des.type= job.jobType 
                            label.interview(for="status") 
                                span#job-des.status=job.status
                        a.read-more(href=`/dashboard/all-jobs/job/${job.id}`) Read more
                        - if (user.role === 'admin' || user.role === 'recruiter')
                            .buttons 
                                button.edit.edit-popup(type="button" data-jobid=`${job.id}`) edit 
                                button.delete delete
            .overlay        
            form.edit-job-form.inactive
                h1.title Edit job
                .form-inputs 
                    label(for="postion") 
                        span Position 
                        input#post(type="text")
                    label(for="company") 
                        span company
                        input#company(type="text")
                    label(for="job-location") 
                        span Job Location 
                        input#city(type="text")
                    label(for="status") 
                        span Status 
                        select(name="status") 
                            option(disabled selected) status 
                            option(value="pending") pending
                            option(value="interview") interview
                    label(for="job type") 
                        span Job Type 
                        select(name="type") 
                            option(disabled selected) type  
                            option(value="full-time") Full-time 
                            option(value="internship") Internship
                            option(value="part-time") Part-time
                    label(for="description") 
                        span Description 
                        input#description(type="text")
                .btn-container 
                    button.clear-btn(type="button") clear 
                    button.submit-btn Submit 