extends ../dashboard 


block content 
    .app-container 
        if user.role === 'user'
            h1.app-title My Applications 
            if applications.length === 0
                p.alert No application found
            else
                .application-wrapper 
                    each job in jobs
                        .app-job-wrapper
                            .app-info
                                .company 
                                    span A 
                                    label
                                        p.job-post=job.post
                                        p.company-name=job.companyName 
                                .application-status 
                                    span status 
                                p Pending Review
        if user.role === 'recruiter'
            h1.app-title Applications 
            if jobs.length === 0
                p.alert No Jobs found!! please create a job to manage applications
            .application-wrapper 
                each job in jobs
                    - let jobsApplicant = jobsApplicants.filter(application => application.job.toString() === job._id.toString())
                    .app-job-wrapper
                        .app-info
                            .company 
                                span A 
                                label
                                    p.job-post=job.post
                                    p.company-name=job.companyName 
                            .num-of-applicants 
                                span Applicants
                                p=jobsApplicant.length 
                            button.show-all  
                                a(href="/application/applicants-review") Show all